<% layout("./layouts/boilerplate") %>

<%- include('../partials/flash') %>

<div class="container">
	<header class="jumbotron">
		<h1>Welcome to YelpCamp!</h1>
		<p class="lead">Here you can see all the campgrounds and also you can add a new campground.</p>	
		<hr c	lass="my-4">	
		
		<a class="btn btn-primary " href="/campgrounds/new">Add new CampGround</a>	
	</p>
</header>



<div class="row">
	
	<% campgrounds.forEach((ground) => { %>
		
		<div class="card mb-2 mt-2"  style="border: 2px solid black; border-radius: 20px;">
			<div class="row">
				<div class="col-md-4">
					<img src="<%= ground.image %>" class="img-fluid" alt="Card Image" style="border-radius: 20px; margin: 2% auto; height: 250px;">
				</div>
				<div class="col-md-8">
					<div class="card-body">
						<h5 class="card-title"><%= ground.name %></h5>
						<p class="card-text"><%= ground.description %></p>
						<p class="card-text">
							<small class="text-muted"><%= ground.location %></small>
						</p>
						<a href="/campgrounds/<%= ground.id %>"" class="btn btn-primary">View more</a>
					</div>
				</div>
			</div>
		</div>
		
		<% })%>

	</div>
	
	
</div>



